<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856794807639-f8f5tc87pe8pbm7d4fh8f9d3d3nkoc7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856794807639-f8f5tc87pe8pbm7d4fh8f9d3d3nkoc7e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>856794807639-1livai0n8lldbdc3ulmrm38que5t7eee.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1ThP9i-D4jg4gbyaGfjOMF9_w4LgQ10k</string>
	<key>GCM_SENDER_ID</key>
	<string>856794807639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dietationapp</string>
	<key>PROJECT_ID</key>
	<string>saluswell-app</string>
	<key>STORAGE_BUCKET</key>
	<string>saluswell-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856794807639:ios:175c502091326fb1129212</string>
</dict>
</plist>